.header {
  background: #2874f0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0px;
}

.first {
  padding-right: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 120px;
  cursor: pointer;
}

.first1 {
  display: flex;
  align-items: center;
}

.first > a > img {
  width: 75px;
  object-fit: contain;
}

.second {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 3px;
}

.second > input {
  border: none;
  outline: none;
  width: 400px;
  max-width: 100%;
  padding: 10px 15px;
  border-radius: 3px;
}

.second > .MuiSvgIcon-root {
  color: #2874f0;
  padding: 5px;
  font-size: 25px;
  cursor: pointer;
}

.third > button {
  border: none;
  outline: none;
  padding: 7px;
  width: 100%;
  color: #2874f0;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.fourth {
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.fourth:hover > .MuiSvgIcon-root {
  transition: transform 0.2s;
  transform: rotate(180deg) translateY(-3px) translateX(-3px);
}

.fourth > .MuiSvgIcon-root {
  color: white;
  font-size: 17px !important;
  padding-top: 5px;
  padding-left: 5px;
}

.fourth > p {
  color: white;
  font-weight: 600;
}

.fifth {
  align-items: center;
  display: flex;
  padding-right: 40px;
  cursor: pointer;
}

.fifth > img {
  color: white;
  cursor: pointer;
  width: 20px;
  padding: 10px;
}

.fifth > a {
  color: white;
  text-decoration: none;
}

.moret__in,
.login__in {
  width: 13.5rem;
  padding: 7px 0;
  display: flex;
  height: 35px;
  align-items: center;
}

.moret__in > .MuiSvgIcon-root {
  padding: 0px 7px;
  color: #2874f0;
  font-size: 17px;
}

.moret__in:hover,
.login__in:hover {
  background-color: rgb(245, 243, 243);
}

.moret > hr,
.login_t > hr {
  margin-left: -10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  width: 108.5%;
  height: 0.5px;
  background-color: rgb(233, 233, 233);
  border: none;
}

.login__in > .MuiSvgIcon-root,
.login__in > img {
  color: #2874f0;
  padding: 0px 7px;
  font-size: 17px;
}

.login__i {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.login__i > p {
  color: #2874f0;
  font-weight: 600;
  font-size: 14px;
}

.login__i > h2 {
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.showLogin {
  padding: 10px;
  width: 15vw;
}

.showLogin > .showLogin__button > button {
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
  background-color: #fb641b;
  color: white;
  font-size: 16px;
  font-weight: 550;
}

.showLogin__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 650;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .first {
    padding-left: 30px;
    padding-right: 30px;
  }

  .fifth {
    padding-right: 30px;
  }
}

@media screen and (max-width: 576px) {
  .first {
    padding-left: 15px;
    padding-right: 15px;
  }

  .second > input {
    width: 100%;
    font-size: 14px;
  }

  .third > button {
    width: 100%;
    font-size: 14px;
  }

  .fifth {
    padding-right: 15px;
  }
}

.six > button {
  background-color: white;
  color: #2874f0;
  cursor: pointer;
  padding: 8px;
  border: none;
  font-weight: bold;
}
.six > button:hover {
  scale: 0.8;
  border: 2px solid black;
}
